{% load bootstrap4 %}
{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>WorthIt</title>

   {% block styles %}
   {% bootstrap_css %}
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
   {% endblock %}

   <script>UPLOADCARE_PUBLIC_KEY = "YOUR_PUBLIC_KEY";</script>
   <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>

</head>
<body>
   <h3>WorthIt - The best site to objectively rate projects.</h3>
   {% include "navbar.html" %}
   {% block content %}  {%endblock%}

   {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   {% bootstrap_javascript %}
   {% endblock %}
</body>
</html>