{%extends 'rate/base.html'%}
{% load static%}
{% load bootstrap4 %}

{% block styles %} 
{{ block.super}}
   <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %} 
<div class="container">
   <div class="row">
      <div class="col-8">
         <div class="row">
            {% for proj in projects %}                     
            <div class="col-6">
            <div class="card h-100 border-0 shadow">
              <div class="card-img-top">
                <div class="embed-responsive embed-responsive-4by3">
                  <div class="embed-responsive-item">
                    <img src="{{ proj.poster.cdn_url}}" alt="Profile poster" class="img-fluid w-100" />
                  </div>
                </div>
                  <div class="card-body">
                     <button class="btn btn-primary">Visit</button>
                     <button class="btn btn-success" style="float:right">Rate</button>                   
                  </div>
                </div>
              </div>
            </div>             
            {% endfor %}            
         </div>         
      </div>
      <div class="col-1"></div> 
      <div class="col-3">
         <div class="hor-nav">  
            <ul>       
            <li><a class="active" href="/accounts/register/">Sign Up</a></li>
            <li><a href="{% url 'new-project' %}">Post A Project</a></li>
            <li><a href="#contact">View All Projects</a></li>
            <ul>
            </ul>
         </div>
      </div>      
   </div>
</div>
{% endblock content%}