{%extends 'rate/base.html'%}
{% load static%}
{% load bootstrap4 %}

{% block styles %} 
{{ block.super}}
   <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %} 
<div class="container">
   <div class="row">
      <div class="col-3">
         
      </div>
      <div class="col-5">
         <h1 class='text-center'>Welcome to worthIt Home!</h1>
      </div>
      <div class="col-3">
         <div class="hor-nav">  
            <ul>       
            <li><a class="active" href="/accounts/register/">Sign Up</a></li>
            <li><a href="{% url 'new-project' %}">Post A Project</a></li>
            <li><a href="#contact">View All Projects</a></li>
            <ul>
            </ul>
         </div>
      </div>

      
   </div>
</div>
{% endblock content%}