{%extends 'profile/base.html'%}
{% load static%}
{% load bootstrap4 %}

{% block styles %} 
{{ block.super}}
  
{% endblock %}

{% block content %} 
<div class="container">
   <div class="row">
      <div class="col-4">
         <p>Name:</p>
         <p>Contact:</p>
         <p>Bio:</p> 
         <hr>   
         <a href="{% url 'new-project'%}" class="btn btn-primary">Upload a project</a>     
      </div>
         <!-- <h4 class='text-center'>Your Projects</h4> -->
         <!--Display images  in a card-->
         {% for proj in projects %}                     
         <div class="col-3">
            <div class="card h-100 border-0 shadow">
              <div class="card-img-top">
                <div class="embed-responsive embed-responsive-4by3">
                  <div class="embed-responsive-item">
                    <img src="{{ proj.poster.cdn_url}}" alt="Profile poster" class="img-fluid w-100" />
                  </div>
                </div>
                  <div class="card-body">
                     <button class="btn btn-primary">Edit</button>
                     <button class="btn btn-danger" style="float:right">Delete</button>                   
                  </div>
                </div>
              </div>
            </div>    
         {% empty %}
         <div class="row">
            <h2 class="text-center">You have not uploaded a project yet</h2>
         </div>
         {% endfor %}
      </div>           
   </div>      
</div>

{% endblock content%}