{%extends 'profile/base.html'%}
{% load static%}
{% load bootstrap4 %}

{% block styles %} 
{{ block.super}}
  
{% endblock %}
{% block content %} 
<div class="container">
   <div class="row">
      <div class="col-4">
         <p>Name:</p>
         <p>Contact:</p>
         <p>Bio:</p> 
         <hr>   
         <a href="{% url 'new-project'%}" class="btn btn-primary">Upload a project</a>     
      </div>
      <div class="col-5">
         <h4 class='text-center'>Your Projects</h4>
      </div>           
   </div>
</div>
{% endblock content%}